{{>header}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/ad_home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Medicine List</li>
    </ol>
</nav>
<div class="row m-5">
    <div class="col-lg-12 col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-pills"></i> Medicine List</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Company</th>
                        <th scope="col" class="text-center">Details</th>
                        <th scope="col">Price</th>
                        <th scope="col">Laboratory_Approval</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product}}
                    <tr>
                        <td>{{product_name}}</td>
                        <td>{{product_company}}</td>
                        <td>{{product_details}}</td>
                        <td>{{product_price}}</td>
                        <td class="text-center">{{lab_approved}}</td>
                        <td class="text-end" style='white-space: nowrap'>
                            {{#calculation lab_approved "Yes" }}

                            <a href="/admin/approve/{{id}}" type="button" class="btn btn-success btn-small"><i
                                    class="fas fa-check"></i> Approve </a>

                            {{else}}

                            <a href="/admin/reject/{{id}}" type="button" class="btn btn-danger btn-small"><i
                                    class="fas fa-times"></i> Reject </a>

                            {{/calculation}}
                        </td>

                    </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>
    </div>
</div>