{{>header}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/retailer/r_home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">List of Medicines</li>
    </ol>
</nav>

<div class="row m-5">
    <div class="col-lg-12 col-md-6 m-auto">
        <h1 class="text-center mb-3"><i class="fas fa-pills"></i> Medicine List</h1>

    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
         <li class="list-group-item"><a href="/retailer/view">All Products</a></li>
        {{#each user}}
        <li class="list-group-item"><a href="/retailer/productlist/{{id}}">{{name}}</a></li> 
       {{/each}}
        </ul>
    </div>
    <div class="col-md-9">

<div class="row">
       
              {{#each order}}
        <div class="col-sm-6 col-md-4 mb-4">
            
            <div class="card h-100">
                <div class="card-body">
                    
                    <h5 class="card-title">{{product_name}}</h5>
                   
                    <p class="card-text">{{product_company}}</p>
                    <p class="card-text">{{product_details}}</p>
                    <p class="card-text"> Price: {{product_price}}Tk.</p>
                    
                    <a href="/retailer/order/{{id}}" class="btn btn-primary pull-right">Add To Cart</a>
                </div>
            </div>
        </div>
        {{/each}}
        
        
</div>

</div>
    
</div>